@media (min-width: 320px) and (max-width: 342px) {
    .event_name {
        width: 5px;
        padding-left: 10px;
    } 

    nav {
        display: grid;
    }

    .cor_ul {
        padding-left: 5px;
    }

    ul {
        margin: 10px;
    }

    .uls {
        justify-content: space-around;
    }

    .event-name {display: grid;
        padding-left: 30px;
    }

    .border_logo {
        display: flex;
        width: 50%;
    }

    .logo-a {
        width: 100%;
    }


    .topics {
        font-size:12px;
    }

    .uls {
        width: 100%;
        margin: auto 5px
    }

    /*Main*/
    .about-text p {
        font-size: 15x;
        padding-bottom: 40px;
    }

    .about-board {
        padding: 20px 10px;
    }

    figure img {
        width: 200px;
    }

    footer {
        display: grid;
    }

    .uespi-text {
        width: 100%;
        justify-content: center;
    }

    .my-name {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
}

@media (min-width: 343px) and (max-width: 352px) {
    .event_name {
        width: 5px;
        padding-left: 20px;
    } 

    nav {
        display: grid;
    }

    .cor_ul {
        padding-left: 10px;
    }

    ul {
        margin: 10px;
    }

    .uls {
        justify-content: space-around;
    }

    /*Main*/
    .about-text p {
        font-size: 15x;
        padding-bottom: 40px;
    }

    .about-board {
        padding: 20px 10px;
    }

    figure img {
        width: 200px;
    }

    .event-name {display: grid;
        padding-left: 30px;
    }

    .border_logo {
        display: flex;
        width: 50%;
    }

    .logo-a {
        width: 100%;
    }


    .topics {
        font-size:12px;
    }

    .uls {
        width: 100%;
        margin: auto 5px
    }

    footer {
        display: grid;
    }

    .uespi-text {
        width: 100%;
        justify-content: center;
    }

    .my-name {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
}

@media (min-width: 353px) and (max-width: 374px) {
    .event_name {
        width: 5px;
        padding-left: 20px;
    } 

    nav {
        display: grid;
    }

    .cor_ul {
        padding-left: 18px;
    }

    ul {
        margin: 10px;
    }

    .uls {
        justify-content: space-around;
    }

    .event-name {display: grid;
        padding-left: 30px;
    }

    .border_logo {
        display: flex;
        width: 48%;
    }

    .logo-a {
        width: 100%;
    }



    .topics {
        font-size:12px;
    }

    .uls {
        width: 100%;
        margin: auto 5px
    }

    /*Main*/
    .about-text p {
        font-size: 15x;
        padding-bottom: 40px;
    }

    .about-board {
        padding: 20px 10px;
    }

    figure img {
        width: 200px;
    }

    footer {
        display: grid;
    }

    .uespi-text {
        width: 100%;
        justify-content: center;
    }

    .my-name {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
}

@media (min-width: 374px) and (max-width: 536px) {
    .event_name {
        width: 5px;
    } 

    nav {
        display: grid;
    }

    .cor_ul {
        padding-left: 30px;
    }

    ul {
        margin: 10px;
    }

    .uls {
        justify-content: space-around;
    }

    /*Main*/
    .about-text p {
        font-size: 15x;
        padding-bottom: 40px;
    }

    .about-board {
        padding: 20px 10px;
    }

    figure img {
        width: 200px;
    }

    .border_logo {
        display: flex;
        width: 45%;
    }

    .logo-a {
        width: 100%;
    }



    .topics {
        font-size:12px;
    }

    .uls {
        width: 100%;
        margin: auto 5px
    }

    footer {
        display: grid;
    }

    .uespi-text {
        width: 100%;
        justify-content: center;
    }

    .my-name {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
}

@media (min-width: 536px) and (max-width: 768px) {
    .event_name {
        width: 5px;
    } 

    nav {
        display: grid;
    }

    .cor_ul {
        padding-left: 30px;
    }

    ul {
        margin: 10px;
    }

    .uls {
        justify-content: space-around;
    }

    .event-name {display: grid;
        padding-left: 30px;
    }

    .border_logo {
        display: flex;
        width: 45%;
    }

    .logo-a {
        width: 100%;
    }



    .topics {
        font-size:12px;
    }

    .uls {
        width: 100%;
        margin: auto 5px
    }

    footer {
        display: grid;
    }

    .uespi-text {
        width: 100%;
        justify-content: center;
    }

    .my-name {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    .banner {
        margin: 0;
    }


    body {
        margin: 0;
    }



    .banner-picture {
        width: 100%;
    }

    .cor_ul {
        font-size: 15px;
    }
}

@media (min-width: 800px) and (max-width: 1024px) {
    .banner {
        margin: 0;
    }

    body {
        margin: 0;
    }


    .banner-picture {
        width: 100%;
    }

    .cor_ul {
        font-size: 20px;
    }
}